.container {
    padding: 80px 120px;
}

a.concertItem {
    text-decoration: none;
    color: black;
}

.concertImg {
    border: 10px solid transparent;
}

.concertImg:hover {
    border-color: #f1f1f1;
}