@import url(https://fonts.googleapis.com/css?family=Lato:400,900);


h1 {
    font-weight: 900;
    font-size: 60px;
}

.concert a {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0 10px 0;
    text-decoration: none;
    color: black;
}
.concert a:hover {
    background: #eee;
}
.concert a span {
    margin: 0 2px;
}
.concert a span:first-child {
    font-weight: 900;
}